.card {
    max-height: 100px;
    width: auto;
}
/* flip card styling */
.flip-card {
    background-color: transparent;
    width: 75px;
    height: 105px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 75px;
    height: 105px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  
  }
  

  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 75px;
    height: 105px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;
    color: black;
    /* transform: rotateY(180deg); */
  }
  
  .flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
  }

  .match {
    filter: brightness(75%)
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center
  }

  .modalBtn {
    width:100px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 10px;
  }